*{
margin:0;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.navigation{
    width:100%;
    height:170px;
    background-color:red;
}