*{
margin:0;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}


h2{
    padding-left:20px;
    padding-top:20px;
}

.navigation {
    background-color:white;
    width:100%;
    height:60px;
    box-shadow: 0px 2px 6px -4px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    padding-left:20px;
}

.left {
    float:left;
    height: 100%;
    width: 250px;
    margin-left:20px;
    margin-top:20px;
}

.right {
    float:left;
    height: 100%;
    margin-top:20px;
}


.notice {
    height:60%;
    width:100%;
    position: relative;
    
    
}

.notice .covidimg {
    position: absolute;
    width:95%;
    bottom: 0;
    left:0;
    display: block;
    padding-left:10px;
   

}