* {
    margin: 0; 
    padding: 0;
}


.navigation {
    background-color:white;
    box-shadow: 0px 2px 6px -4px rgba(0,0,0,0.75);
    padding: 0.5rem 1rem;
}


.notice {
    height: 32vh;
    width: 100%;
    position: relative;
}

.notice .covidimg {
    position: absolute;
    width:95%;
    bottom: 0;
    left:0;
    padding-left: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 1rem;
    margin: 1.4rem 0;
}

.container {
    margin: 2rem;
}

.filters {
    display: flex;
    align-items: flex-end;
}

.datepicker {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
    width: 200px;
    margin-right: 3px;
    color: rgb(33, 41, 52);
}

.dateinput {
    min-height: 40px;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid rgb(160, 173, 186);
}

.datelabel {
    margin-bottom: 7px;
}