* {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f6f8;
}

.navigation {
  background-color: white;
  box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.75);
  padding: 0.5rem 1rem;
  position: fixed;
  left: 0;
  top: 48px;
  width: 100%;
  z-index: 1;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 1rem;
  margin: 1.4rem 0;
}

.container {
  margin: 5rem 2rem 2rem;
}

.filters {
  display: flex;
  align-items: flex-end;
}

.datepicker {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  width: 200px;
  margin-right: 3px;
  color: rgb(33, 41, 52);
}

.dateinput {
  min-height: 40px;
  padding: 6px 12px;
  border-radius: 3px;
  border: 1px solid rgb(160, 173, 186);
}

.datelabel {
  margin-bottom: 7px;
}

.disabled {
  opacity: 0.3;
}

.topbar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 20px;
}

.search {
  padding: 1.19rem !important;
  border-radius: 3px !important;
}

.infobox {
  display: flex;
  justify-content: center;
  background: white;
  padding: 15px 20px 0 20px;
  box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.75);
}

.infomsg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0 20px 0;
}

.healthimg {
  height: 8.2rem;
  margin-right: 30px;
}

.emphasis {
  color: #1565c0;
  font-size: 1.2rem;
}

.positive {
  background-color: #e0f2f1 !important;
  fill: #004d40 !important;
  color: #00332b !important;
}
